<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    {{! <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title> }}
  </head>
  <body>
    <h3>Dear {{name}},</h3>
    <p>Thank you for joining the waitlist for our service.</p>
    <p>We are thrilled to have you on board and we can't wait to share our
      amazing service with you.</p>
    <p>We are working hard to make sure our service meets and delivers the best
      value possible.</p>
    <p>We appreciate your patience and support as we prepare for the launch.</p>
    <p>As a waitlist member, you will be the first to know when our service is
      ready and you will get exclusive access to a special offer.</p>
    <p>You will also recieve regular updates on our progress of our service.</p>
    <p>We are so grateful for your interest and enthusiasm.</p>
    <p>We hope you are as excited as we are about our service and we look
      forward to hearing your feedback soon.</p>
    <br />
    <p>Kind regards,</p>
    <p><b>The Printalise Team.</b></p>
  </body>
</html>